<!--Hero Section-->
	<section class="relative pl-8 -mt-4 overflow-hidden bg-orange-400">
			<div class="container mx-auto flex flex-col lg:flex-row items-center gap-12 mt-8">
			<!-- Content -->
			<div class="mt-2 flex space-y-4 flex-col items-center lg:items-start overflow-hidden">        
			<div class="lg:text-8xl text-7xl text-white font-bold font-sans
			">Delivery your <br> food within <br> 30 min.</div>
			<div class="text-white text-2xl">Imagine devouring delicious, healthy meals daily without so much<br> as lifting a pot for your every day life.</div>
			<div class="flex mx-auto md:mx-40 mt-8 justify-center flex-wrap" data-aos="fade-right"
			data-aos-easing="linear" data-aos-duration="1000">
				<a href="/menu">
				<button type="button" class="bg-teal-600 hover:bg-teal-600 text-white text-xl font-semibold py-2 px-4 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 ...">
					Order Now
				</button>
				</a>
				</div>
			</div>
			<!-- Image -->
			<div class="flex justify-center flex-1 mb-10 md:mb-16 lg:mb-0 z-10">
				<img class="w-5/6 h-1/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-1/4" src="/img/main.png" alt="" />
			</div>
			</div>
		</section>

		<!-- browse your restaurants -->
		<section>
			<div class="relative md:m-10">
				<div id="search-dish-call" class="font-medium font-bold  text-2xl md:text-4xl text-center mb-6"data-aos="zoom-in-up"
				data-aos-easing="linear" data-aos-duration="1500">Choose Your Favorite Restaurant</div>
			</div>
			<div class="py-4 container overflow-x-hidden justify-center mx-auto flex flex-wrap lg:flex-row items-center gap-10"data-aos="fade-up"
				data-aos-easing="linear"
				data-aos-duration="1500">
					<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
						<img class="rounded-t-lg h-64 w-full" src="/img/bindra.jpeg	" alt="" />
						<div class="p-5">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Bindra Pakode</h5>
							<p class="mb-3 text-justify	font-normal text-gray-700 dark:text-gray-400">JD13, Mahakavi Goswami Tulsidas Marg, Pocket J-D, Hari Enclave, Hari Nagar, New Delhi, Delhi 110064.</p>
						</div>
						<div class="flex justify-center mb-4 items-center">
							<a href="/menu-bindrapakode"
								class="cursor-pointer text-white bg-teal-500 hover:bg-teal-600 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium font-bold rounded-lg text-sm px-5 py-2.5 text-center">Explore Menu</a>
						</div>
					</div>
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
					<img class="rounded-t-lg h-64 w-full" src="/img/chineseCorner.jpeg" alt="" />
					<div class="p-5">
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Chinese Corner
						</h5>
						<p class="mb-3 text-justify	font-normal text-gray-700 dark:text-gray-400">J4J7+8V4, Mahakavi Goswami Tulsidas Marg, Block J, Beri Wala Bagh, Hari Nagar, New Delhi, Delhi 110064.</p>
						</div>
						<div class="flex justify-center mb-4 items-center">
							<a href="/menu-ChineseCorner"
								class="cursor-pointer text-white bg-teal-500 hover:bg-teal-600 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium font-bold rounded-lg text-sm px-5 py-2.5 text-center">Explore Menu</a>
						</div>
					</div>
					<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
						<img class="rounded-t-lg h-64 w-full" src="/img/mother_dairy.jpg" alt="" />
						<div class="p-5">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mother Dairy
							</h5>
							<p class="mb-3 text-justify	font-normal text-gray-700 dark:text-gray-400">Mahakavi Goswami Tulsidas Marg, G-8 Area, Press Colony, Rajouri Garden, New Delhi, Delhi 110064.</p>
							</div>
							<div class="flex justify-center mb-4 items-center">
								<a href="/menu-motherdairy"
									class="cursor-pointer text-white bg-teal-500 hover:bg-teal-600 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium font-bold rounded-lg text-sm px-5 py-2.5 text-center">Explore Menu</a>
							</div>
						</div>
						<div data-aos="fade-up"
						data-aos-easing="linear"
						data-aos-duration="1500">
					<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
						<img class="rounded-t-lg h-64 w-full" src="/img/collegeCanteen.png" alt="" />
						<div class="p-5">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">College Canteen
							</h5>
							<p class="mb-3 text-justify	font-normal text-gray-700 dark:text-gray-400">Mahakavi Goswami Tulsidas Marg, G-8 Area, Press Colony, Rajouri Garden, New Delhi, Delhi 110064.
							</p>
						</div>
						<div class="flex justify-center mb-4 items-center">
							<a href="/menu"
								class="cursor-pointer text-white bg-teal-500 hover:bg-teal-600 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium font-bold rounded-lg text-sm px-5 py-2.5 text-center">Explore Menu</a>
						</div>
					</div>
					</div>
					
					
					<div data-aos="fade-up"
					data-aos-easing="linear"
					data-aos-duration="1500">
					<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"  			>
							<img class="rounded-t-lg h-64 w-full" src="/img/Ramjidihatti.jpeg" alt="" />
							<div class="p-5">
								<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ram Ji Di Hatti</h5>
								<p class="mb-3 text-justify	font-normal text-gray-700 dark:text-gray-400">328-327, Mahakavi Goswami Tulsidas Marg, Block BE, Hari Nagar, New Delhi, Delhi 110027.</p>
							</div>
							<div class="flex justify-center mb-4 items-center">
								<a href="/menu-ramjihatti"
									class="cursor-pointer text-white bg-teal-500 hover:bg-teal-600 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium font-bold rounded-lg text-sm px-5 py-2.5 text-center">Explore Menu</a>
							</div>
						</div>
						</div>
					<div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
					<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
					<img class="rounded-t-lg h-64 w-full" src="/img/shakes.jpeg" alt="" />
					<div class="p-5">
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Shakes Corner
						</h5>
						<p class="mb-3 text-justify	font-normal text-gray-700 dark:text-gray-400">BE-358,, opp. Vikrant Enclave, Main Market, Hari Nagar, Delhi 110064.</p>
						</div>
						<div class="flex justify-center mb-4 items-center">
							<a href="/menu-shakes"
								class="cursor-pointer text-white bg-teal-500 hover:bg-teal-600 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium font-bold rounded-lg text-sm px-5 py-2.5 text-center">Explore Menu</a>
						</div>
					</div>
					</div>
					
			</div>
		</section>

<!--Browse Dish Section-->
<section>
	<div class="relative md:m-10">
		<div id="search-dish-call" class="font-medium font-bold  text-2xl md:text-4xl text-center mb-6"data-aos="zoom-in-up"
		data-aos-easing="linear" data-aos-duration="1500">Choose Your Favorite Dish</div>
	</div>
	<div class="py-4 container overflow-x-hidden justify-center mx-auto flex flex-wrap lg:flex-row items-center gap-10"data-aos="fade-up"
		data-aos-easing="linear"
		data-aos-duration="1500">
		<a href="/menu">
			<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
				<img class="rounded-t-lg h-64 w-full" src="/img/csamosa.png" alt="" />
				<div class="p-5">
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Chowmein Samosa</h5>
					<p class="mb-3 text-justify	font-normal text-gray-700 dark:text-gray-400">The Classic Samosa Gets An Indo-Chinese Twist. This chowmein samosa is the best solution for your craving.</p>
				</div>
			</div>
		</a>
		<a href="/menu-shakes">
		<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
				<img class="rounded-t-lg h-64 w-full" src="/img/hazel.png" alt="" />
				<div class="p-5">
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Chocolate Hazelnut Shake
					</h5>
					<p class="mb-3 text-justify	font-normal text-gray-700 dark:text-gray-400">The earthy nutty flavours of hazelnut,combined with rich cocoa flavours of chocolate: a match made in heaven.</p>
				</div>
			</div>
			
			</a>

		   <a href="/menu-bindrapakode">
			<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
				<img class="rounded-t-lg h-64 w-full" src="/img/mixpkoda.png" alt="" />
				<div class="p-5">
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mix pakoda
					</h5>
					<p class="mb-3 text-justify	font-normal text-gray-700 dark:text-gray-400">Mix pakora made with mixed veggies, spices and herbs. These pakoras are crispy, super delicious. Served with tomato ketchup n green chutney.
					</p>
				</div>
			</div>
			</a>
			<div data-aos="fade-right"
					data-aos-easing="linear"
					data-aos-duration="1500">
			<a href="/menu-ramjihatti">
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
					<img class="rounded-t-lg h-64 w-full" src="/img/ccnt.png" alt="" />
					<div class="p-5">
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Chur Chur Naan Thali</h5>
						<p class="mb-3 text-justify	font-normal text-gray-700 dark:text-gray-400">The famous chur chur naan thali contains shahi paneer+dal makhni+2 naan+raita+salad.</p>
					</div>
				</div>
			</a>
			</div>

			<div data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
			<a href="/menu-ChineseCorner">
			<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
				<img class="rounded-t-lg h-64 w-full" src="/img/wpasta.png" alt="" />
				<div class="p-5">
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">White Sauce Pasta
					</h5>
					<p class="mb-3 text-justify	font-normal text-gray-700 dark:text-gray-400">Boiled Pasta cooked with cream milk and herbs and served with cheese.</p>
				</div>
			</div>
			</a>
			</div>
	</div>
</section>


<!-- feature section -->
<section class="flex mt-8">
	<div class="flex flex-col  lg:flex-row items-center">
		<img src="/img/no_min.png" class="lg:w-1/3 md:w-screen sm:w-screen">
		<img src="/img/live_tracking.png" class="lg:w-1/3 md:w-screen sm:w-screen">
		<img src="/img/fast_delivery.png" class="lg:w-1/3 md:w-screen sm:w-screen">
	</div>	
</section>

<script>
	AOS.init();
</script>